<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raychenon.licensedroid.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="label"
        android:label="@string/licensedroid_app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartActivity"
            android:label="@string/licensedroid_app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".OpenSourceActivity"
            android:label="@string/licensedroid_app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OpenSourceFragActivity"
            android:label="@string/licensedroid_app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
